.tableWrap {
  margin: 0 0 42px;
  padding: 0 60px;
  .thead {
    max-width: 1804px;
    width: 100%;
    background-color: #ffde4a;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .tbody {
    .theadWrap {
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #efe6d8;
        cursor: pointer;
      }
    }
  }
  .theadStyle {
    font-weight: 600;
  }
  .theadWrap {
    display: flex;
    justify-content: space-between;
    padding: 29.5px;
    margin-bottom: 0;
    border-radius: 12px;
    font-size: 1.6rem;
    color: #041967;
    align-items: center;
    transition: all 0.1s ease-in-out;
    li {
      text-align: center;
      list-style: none;
      font-weight: 600;
    }
  }
  .outForDeli {
    color: #ca8e03;
    border: 3px solid #ca8e03;
    border-radius: 50px;
    // padding: 7.5px 0;
    font-weight: 600;
    width: 145px;
    font-size: 1.3rem;
  }
  .item100px {
    width: 140px;
    text-align: center;
    padding: 2px 0;
  }
  .item1000px {
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .item200px {
    width: 200px;
    text-align: center;
  }
  .item140px {
    width: 100px;
    text-align: center;
  }
  .ali {
    // display: flex;
    // justify-content: center;
    // text-align: center;
  }
  .item0px {
    width: 10px;
  }
  .tbody {
    border: 1px solid #d6deed;
    .theadWrap {
      // background-color: red;
      margin-top: 0;
    }
  }
  .patientName {
    color: #000000;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .readyToPick {
    color: #041967;
    border: 3px solid #041967;
    font-size: 1.3rem;
    border-radius: 50px;
    font-weight: 600;
  }
  .blueColor {
    color: #008dff;
    font-size: 1.3rem;
    border: 3px solid #008dff;
    border-radius: 50px;
    font-weight: 600;
  }
}

.dropdown-menu:hover {
  background-color: red !important;
}
