.footerWrap {
  margin: 42px 0 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .numberPageWrap {
    display: flex;
    gap: 16px;
  }
  select {
    border: 2px solid #d6deed;
    outline: none;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 1.6rem;
    font-weight: 400;
    option {
      padding: 12px 16px;
    }
  }
  .numberPage {
    padding: 15px;
    border: 1px #d6deed solid;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    width: 43px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgb(0, 141, 255);
      color: white;
    }
  }
  img {
    display: inline;
  }
}
.numberPage.active {
  background-color: rgb(0, 141, 255);
}
